.aboutStyle {
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 80px;
  border-bottom: 2px solid hwb(120 40% 37%);
}
.aboutMsgStyle {
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 30px;
  font-size: 1.2em;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 1;
}
.fa-github {
  color: #171515;
}
.fa-linkedin {
  color: #0072b1;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/UniPool/images/logo-color.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead2 {
  height: 100vh;
  min-height: 500px;
  background-image: url('/UniPool/images/logo-no-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.open-button {
  background-color: #1748ce;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type='text'],
.form-container input[type='password'] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type='text']:focus,
.form-container input[type='password']:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* --- Result Page Style */
/* Result from API style  */
div.apiResultBlock {
  margin: auto;
  display: table-cell;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

/* Each result block Style */
span.DisplayBox {
  display: block;
  padding: 16px 16px;
  margin-right: 11px;
  position: relative;
}
.campus_map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campus_map_box {
  width: auto;
  object-fit: contain;
}

.job_info {
  font-style: italic;
  padding-left: 2%;
}

.job_title {
  text-decoration: underline;
  font-size: 16pt;
  color: #171515;
  font-weight: bold;
}
